<div class="booking-confirmation">
  <h2>Samanställning</h2>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">${this.booking.show.movie.title}</h5>
          <img src="/images/${this.booking.show.movie.images[0]}">
          <h6 class="card-subtitle mb-2 text-muted">${this.booking.show.auditorium.name}</h6>
          <p class="card-text">${this.booking.show.time} ${this.booking.show.date}</p>
          <p class="card-text">Platser: ${this.booking.seats.join(', ')}</p>
        </div>
      </div>
      <p class="card-text font-weight-bold">Vuxen Biljett:${this.adultPrice}kr</p>
      <p class="card-text font-weight-bold">Pensionär Biljett:${this.seniorPrice}kr</p>
      <p class="card-text font-weight-bold">Barn Biljett:${this.kidsPrice}kr</p>
      <p class="card-text font-weight-bold">Total Pris:${this.ticketPrice}kr</p>
      <a href="/movies-schedule-page" class="btn btn-info" role="button">Tillbaka</a>
    </div>
  </div>
</div>