<footer class="clearfix">
    <section>
      <div class="footer-text">
        <h3>Adress</h3>
        <p>Småstadsvägen 1</p>
        <p>222 22, Småstad</p>
      </div>
    </section>
    <section>
      <div class="footer-text">
        <h3>Öppettider</h3>
        <p>Lunch:</p>
        <p>Mån-Fre -14:30</p>
        <p>Middag:</p>
        <p>Mån-Lör 10-01:00</p>
      </div>
    </section>
    <section>
      <div class="footer-text">
        <h3>Kontakt</h3>
        <a href="046-1234567">046-2222222</a>
        <a href="bio@småstad.se">
          bio@småstad.se</a>
      </div>
    </section>
    <section>
      <div class="footer-text">
        <h3>Följ oss</h3>
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Instagram</a>
      </div>
    </section>
  </footer>