<div class="container">

  <!-- Modal toggles between logged in view, register view and whateva-->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="lillmodalen" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <!-- ALREADY LOGGED IN -->
          <div class="${this.auth ? 'd-block':'d-none'}">
            <div class="jumbotron">
              <h4 class="heading">Inloggad som: ${this.user}</h4>
              <button class="btn btn-danger logOut">Logga ut</button>
            </div>
          </div>

          <!-- LOGGA IN  -->
          <div class="${this.auth ? 'd-none':'d-block'}">
            <button class="btn btn-success btn-block" type="button" data-toggle="collapse" data-target="#loginCollapser"
              aria-expanded="false" aria-controls="loginCollapser">
              Logga in på ditt konto
            </button>

            <div class="collapse" id="loginCollapser">
              <div class="card card-body">
                <form>
                  <div class="form-group ">
                    <label for="userEmail">E-post</label>
                    <input type="email" class="form-control loginUserEmail" aria-describedby="emailHelp" placeholder="Ange e-posten din"
                      value="hamid">
                  </div>
                  <div class="form-group">
                    <label for="userPassword">Lösenord</label>
                    <input type="password" class="form-control loginUserPassword" placeholder="Lösenord" value="hamid">
                  </div>
                </form>
                <button class="btn btn-success loginUser">Logga in</button>
              </div>
            </div>
            <!-- SKAPA KONTO -->
            <button class="btn btn-danger btn-block" type="button" data-toggle="collapse" data-target="#registerCollapser"
              aria-expanded="false" aria-controls="registerCollapser">
              Registrera ett nytt konto
            </button>

            <div class="collapse" id="registerCollapser">
              <div class="card card-body">
                <form>
                  <div class="form-group ">
                    <label for="userName">Ditt namn</label>
                    <input type="text" class="form-control regUserName" placeholder="Ange ditt namn">

                    <label for="userEmail">E-post</label>
                    <input type="email" class="form-control regUserEmail" placeholder="Ange e-posten din">
                  </div>
                  <div class="form-group">
                    <label for="userPassword">Lösenord</label>
                    <input type="password" class="form-control regUserPassword" placeholder="Lösenord">
                  </div>
                </form>
                <button class="btn btn-danger addUser">Skapa konto</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button class="btn btn-danger logOut ${this.auth ? 'd-block':'d-none'}">Logga ut</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- EOF MODALS -->
</div>