<main>
  <div class="container">
    <section class="movies-schedule">
      <h3>Film visningar</h3>
      <!-- När denna klickas görs en getrequest till http://localhost:3000/json/shows -->
      <!-- denna URL har en REST route som vi skrivit i backend tidigare, som svarar med 
      allt innehåll i DB från "shows" collection -->
      <!-- Det finns många olika sätt att läsa denna data på dvs för att hämta, lagra och rendera showsen -->


      ${this.generateShowsList()}
      <div class="row">
        <div class="col">

          
        </div>
      </div>
    </section>
  </div>
</main>