<section class="movie-page">
  <div class="card my-2 p-3">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="/images/${this.images[0]}" class="card-img" alt="${this.images[0]}">
      </div>
      <div class="col-md-8">
        <div class="card-body pl-3">
          <h5 class="card-title-movie mt-1">${this.title}</h5>
          <p class="card-text-movie">${this.genre}</p>
          <p class="card-text-movie">Från: ${this.productionYear}</p>
          <p class="card-text-movie">Regissör: ${this.director}</p>
          <div class="buttons">
            <a class="btn btn-light" href="/book-show?show=${this.nextShow._id}" role="button"
              id="book-show-link">BOKA</a>
            <a class="btn btn-light" href="/film?film=${this._id}" role="button" id="details">MER INFO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>