<section class="movie-detail">
  <div class="row">
    <h3 class="movie-title">${this.movie.title}</h3>
    <a class="btn-warning" href="/book-show?show=${this.movie.shows[0].id}" role="button" id="book-show-link">BOKA</a>
  </div>

  <div class="media row mb-5">
    <div class="col-md-5">
      <img src="/images/${this.movie.images[0]}" class="img float-left" alt="${this.movie.images[0]}">
    </div>
    <div class="col-md-7">
      <div class="category-genre pl-5"><span>Genre: ${this.movie.genre}</span></div>
      <p class="description-text pl-5">${this.movie.description}</p>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-6 mt-3">
      <div class="row">
        <div class="card-body col-6">
          <div class="category p-3"><span>Skådespelare: </span></div>
          <ul class="actors">
            <li>${this.actorsList}</li>
          </ul>
          <hr>
          <div class="category"><span>Produktionsår: </span></div>
          <div class="d-inline"><span>${this.movie.productionYear}</span></div><br>
          <div class="category"><span>Land:</span></div>
          <div class="d-inline"><span>${this.movie.productionCountries[0]}</span></div><br>
          <div class="category"><span>Längd: </span></div>
          <div class="d-inline"><span>${this.movie.length} minuter</span></div><br>
          <div class="category"><span>Text: </span></div>
          <div class="d-inline"><span>${this.movie.subtitles}</span></div>
          <div class="category"><span>Omdömen: </span></div>
          <div class="d-inline"><span>${this.review}</span></div>
          <!-- <div class="category"><span>destributers: </span></div>
          <div class="d-inline"><span>${this.movie.distributor}</span></div> -->
        </div>
      </div>
    </div>



    <aside class="aside mt-3 p-0">
      <div class="col-md-6">
        <h4 class="mb-3">Visningar:</h4>
        ${this.movieTimes}
      </div>
    </aside>

  </div>
  </div>
  <div class="col-12 video d-inline-block mt-5">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/${this.movie.youtubeTrailers[0]}"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</section>