<main>
  <h3>Hej</h3>

  <!-- När denna klickas görs en getrequest till http://localhost:3000/json/shows -->
  <!-- denna URL har en REST route som vi skrivit i backend tidigare, som svarar med allt innehåll i DB från "shows" collection -->
  <!-- Det finns många olika sätt att läsa denna data på, här kan du återanvända elias kod för att hämta, lagra och rendera showsen -->
  <!-- Nu får du själv klura ut hur du gör populate delen, även detta ser du i elias kod :) -->


  ${this.generateShowsList()}
</main>