<section class="seat-selector">
  <div>
    ${JSON.stringify(this.show, null, 2)}
  </div>

  <div class="ticket-selector">
    <div>
      <p>Ordinarie (500 kr/st)</p>
      <div class="ticket-incrementor adult">
        <span class="minus">- </span><span class="ticket-count">${this.tickets.adult}</span><span class="plus"> +</span>
      </div>
    </div>
    <div>
      <p>Pensionär (1300 kr/st)</p>
      <div class="ticket-incrementor senior">
        <span class="minus">- </span><span class="ticket-count">${this.tickets.senior}</span><span class="plus"> +</span>
      </div>
    </div>
    <div>
      <p>Barn (9000 kr/st)</p>
      <div class="ticket-incrementor kids">
        <span class="minus">- </span><span class="ticket-count">${this.tickets.kids}</span><span class="plus"> +</span>
      </div>
    </div>
  </div>

  ${this.seatMap}

  <button id="book-tickets">BOOK THAT SHOWY-SHOW</button>
</section>