<section>
  <div class="card mb-2 pt-3 px-3 movie-view-info">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/images/${this.movie.images[0]}" class="card-img" alt="${this.movie.images[0]}">
      </div>
      <div class="col-md-8">
        <div class="card-body py-0">
          <h5 class="card-title">${this.movie.title}</h5>
          <p class="card-text">${this.time}</p>
          <p class="card-text">${this.auditorium.name}</p>
          <a class="btn btn-light" href="/book-show?show=${this._id}" role="button" id="book-show">BILJETTER</a>
          <a class="btn btn-light" href="/filmer" role="button" id="info">MER INFO</a>
        </div>
      </div>
    </div>
  </div>
</section>