<div class="row my-0">
  <div class="poster col-3">
    <img src="/images/${this.movie.images[0]}">
  </div>
  <div class="row movie-view-info">
    <h4 class="col-sm-9 col-xs-12">${this.movie.title}</h4>
    <h5 class="col-sm-9 col-xs-12">${this.time}</h5>
    <h5 class="col-sm-9 col-xs-12">${this.auditorium.name}</h5>
    <a href="/book-show?show=${this._id}"><button class="book-show col-sm-12 col-md-12">BOKA</button></a>
    <a href button="/filmer"><button class="info col-sm-12 col-md-12">FILM INFO</button></a>
  </div>
</div>