  <div class="container-fluid">
    <div class="card col-10 mt-5">
      <div class="card-body">
        <h2>${movie.title}</h2>
        <button type="button" class="active btn btn-info" data-toggle="button" aria-pressed="true" autocomplete="off"
          id="get-movies">Film info</button>
          <button type="button" class="active btn btn-info" data-toggle="button" aria-pressed="true" autocomplete="off"
          id="get-movies">Boka</button>
        <div class="movie-list col-8" style="display: none"></div>
      </div>
    </div>
  </div>

