<section class="startpage">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md mb-2">
        <div id="movieCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="images/diehardwallpaper2.png" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h2>As we celebrate</h2>
                <p class="lead">Men's special! Safe space... for men by men :-) 'just kiddin'</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="demaracater p-5">
      <img class="d-block w-100" src="images/DieHard6.0.png" alt="Fourth slide">
    </div>
    <div class="moviescard m-2">
      <div class="row">
        <div class="col-sm-9 col-md-9">
          <div class="card-deck">
            ${this.moviesHtml}
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="aside m-2">
            <h2>Visningar</h2>
            ${this.showsHtml}
          </div>
        </div>
      </div>
    </div>
</section>