.account-page {
  h3 {
    font-weight: 800;
  }
  .jumbotron,
  .accordion {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px #fff;
  }
  .logged-out button {
    text-transform: uppercase;
  }
  .card-header button {
    font-weight: 600;
    color: black;
  }
  .card-header-inner {
    background: #fff9c4;
  }
  .card{
    background-color: #fff;
  }
  h2,p{
    color: black;
  }
}