// *, ::before, ::after {
//   box-sizing: border-box;
// }

body > div  {
  background-color: rgb(252, 252, 252);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/images/wheat.png");
}

main{
  flex: 1;
}
