div.booking-confirmation-container{
  .center-spinner {
    height: 100vh;
    align-items: center;
  }
}

section.booking-confirmation{
  h2{
    text-align: center;
  }
  h1,h2,h3,h4,h5,h6{
    color:#fff;
  }
  h3{
    @include media-breakpoint-down(sm) {
      font-size: 1.15rem;
    }
  }

  .card{
    border-radius: 11px;
    border: none;
    color: black;
    h3,h6{
      color: black;
    }
    .card-text{
      margin-bottom: 0;
    }
    img{
      border-radius: 10px 0px 0px 10px
    }
  }
  .text-center-md{
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }
  .col-auto{
    @include media-breakpoint-down(xs) {
      margin: 0 auto
    }
  }
  .btn{
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 12px;
    border: 4px solid #494949;
    display: inline-block;
    font-weight: bold;
    &:hover {
      background:#f6b93b; 
      transition: all 0.2s ease 0s;
    }
  }
  hr{
    border-color: #fff;
  }
}