div.book-show-container {
  display: flex;
  justify-content: center;

  .spin-container {
    position: absolute;
    top: 40%;
  }
}

section.book-show {

  button {
    margin: 1rem 0;
  }

  .ticket-selector {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    div {
      p {
        text-align: center;
      }
      .ticket-incrementor {
        text-align: center;
        font-size: 2rem;
  
        .minus, .plus {
          cursor: pointer;
          display: inline-block;
          background-color: $success;
          border-radius: 1rem;
          text-align: center;
          padding: 0 0.5rem;
          margin: 0 0.5rem;
          min-width: 38px;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: #218838;
          }
        }
      }
    }
  }

  div.button-wrap {
    display: flex;
    justify-content: center;
  }

  div.invalid-selection-alert, div.invalid-booking-alert, div.not-logged-in-alert, div.seats-stolen-alert {
    display: none;
    .close {
      top: -15px;
    }
  }
}