
  .movie-page { 
    align-content: center;

  h5.intro-text {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .card {
  background-color: rgb(239, 233, 233);
  line-height: 1.15;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

  }

  .card-title-movie {
    font-size: 28px;
  }

  .card-text-movie {
    font-size: 21px;
  }

  a#details {
    margin-left: 2%;
  }

  a#book-show-link,
  a#details {
    font-size: 17px;
    border-radius: 11px;
    background-color: #E69900;
      &:hover{
      transition: all 0.5s ease-in-out;
      background:yellow;
    }
 }

  .picture-toggle:hover {
    cursor: pointer;
    }

    @media only screen and (min-width: 990px) {
      a#book-show-link,
      a#details {
        margin-left: 5%;
      }  
      .card-title-movie,
      .card-text-movie {
        padding-left: 5%;
      }
    }

}