.movies-schedule-page {
  h3 {
    display: inline-block;
    margin-top: 30px;
  }
  h4 h5 {
    margin-top: 180px;
  }
  img{
    padding-left: 200px;
    padding-top: 20px;
    }
  .movie-text {
    padding-left: 250px;
    margin-top: 40px;
  }
  
  .date {
    margin-top: 80px;
  }

  }
