.movie-page {
  .card {
  background-color: rgb(239, 233, 233);
  line-height: 1.15;
  }

  .card-title-movie {
    font-size: 14px;
  }

  .card-text-movie {
    font-size: 14px;
  }

  a#details {
    margin-left: 2%;
  }

  a#book-show-link,
  a#details {
    width:37%;
    height:12%;
    font-size: 17px;
    border-radius: 11px;
    background-color: #E69900;
      &:hover{
      transition: all 0.5s ease-in-out;
      background:yellow;
    }
 }

  .picture-toggle:hover {
    cursor: pointer;
    }
}