
  .movie-page { 
    align-content: center;

  .card {
    background-color: #000000;
    border-color: black;
    line-height: 0.7;
  }

  .card-title-movie {
    font-size: 33px;
    padding-top: 5px;
    color: #dc3545
  }

  .card-text-movie {
    font-size: 20px;
    padding-top: 2px;
  }

  a#details {
    margin-left: 2%;
  }
  .btn{
    text-transform: uppercase;
    padding: 12px;
    width: 46%;
    margin-right: 5px;
    display: inline-block;
    font-weight: bold;
  }

  .picture-toggle:hover {
    cursor: pointer;
    }
    p{
      color:#fff;
    }
    h5{
      color: #fff;
      text-transform: uppercase;
    }
    .morelinehight{
      line-height: 1;
    }
    .checked {
      color: orange;
    }
}