.movies-schedule-page {
  // .movie-title {
  //   margin-top: 80px;
  // }
  h4 h5 {
    margin-top: 80px;
  }
  img{
    padding-left: 200px;
    padding-top: 20px;
    }
  .movie-text {
    padding-left: 250px;
    margin-top: 40px;
  }
  h2 h3 {
    display: inline-block;
  }
  }
