.seat-selector {

  .screen {
    background-color: darkgrey;
    width: 200px;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    padding: 0 0.3rem;
    text-align: center;
  }

  .seat-map {

    div {
      margin: 0.3rem 0;
      display: flex;
      justify-content: center;

      span {
        display: inline-block;
        background-color: lightgrey;
        border-radius: 0.3rem;
        margin: 0 0.3rem;
        width: 6vw;
        max-width: 1.5rem;
        cursor: pointer;
        text-align: center;
  
        &.booked {
          background-color: lightcoral;
        }
        
        &.selected-seat {
          background-color: skyblue;
        }
  
        &.highlighted-seat {
          background-color: lightgreen;
        }
  
        &.deselect-seat {
          background-color: red;
        }
  
      }

    }
  
  }
}