*{
    box-sizing: border-box;
}

.startPage, body{
    width: 100%;
    font-weight: 200;
       h2, h3{
        font-weight: 200;
    }
}
#movieCarousel{
    margin: 0 auto;
     .carousel-img{
        max-height: 400px !important;
}
}
.carousel-caption{  
    background-color: rgba(58, 55, 55, 0.927);
    opacity: 0.8;
    
 h3, p.lead{
    font-weight: 200;
    font-size: 30px;
}
p.lead{
    font-size: 20px;
}
}

img-thumbnail{
    width: 100%;
    height: auto;
}
// card deck = moviescard
.moviescard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 15px;
}
.card{
   margin-left: 5px !important;
   margin-right: 5px !important;
}

.card-title{
    font-size: 15px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}  

a.btn{
    padding: 5px;
    font-size: 14px;
}
 a.btn:hover{
     color: #fff;
     background: hsl(41, 98%, 53%);
 } 





.aside, col-3{
    border: 1px solid #f7b528;
    width: 100%;
    li{
         list-style-type: none;
         color: #fff;
         padding: 5px;
       
    }
}

@media only screen and (min-width: 600px) {
 .moviescard{
     width:100%;
     font: 14px;
 }  
    li{
         list-style-type: none;
         font-size: 14px;
         color: #fff;
         margin: auto 0;
    }
 }

