*{
    box-sizing: border-box;
}
.startpage body{
    width: 100%;
    height: auto;
    margin: auto 0;
    font-weight: 200;
    font-size: 16px;
}
#movieCarousel{
    margin: 0 auto;
    .carousel-img{
        max-height: 400px !important;

.carousel-caption {  
  h3 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    font-weight: 600;  
    text-shadow: 2px 1px 1px #fff; 
    }
}
}
}
/* Movies card row/column starts */ 
.startpage .moviescard{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.startpage .card{
    //margin: 5px 5px !important;
    background-color:black;
    //padding: 5px;
    .card-text{ 
            font-size: 15px;
            padding: 0;
            margin: 0;
           
}
    .card-title{
            word-wrap: inherit;
            font-size: 16px;
        }
   }
.startpage .img-thumbnail{
    background-color: none !important;
    padding: 0;
}  

//card buttons that links to mitt-konto och visningar
.startpage a.btn{
   font-size: 12px;
    &:hover{
     transition: all 0.2s ease 0s;
 } 
}
//col-4 --> aside
.aside-bar, .startpage .col-4{
    border: 1px solid #dee2e6;
    padding-left: 0;
    padding-right: 0;
    background-color: black;
   
    ul{
        padding-inline-start: 10px;

    }
    h5{
        font-size: 15px;
    }

 ul, .aside-text {   
         list-style-type: none;
         color: #fff;   
         justify-content: center;
         font-size: 14px; 
         line-height: 1.5;   
}
}
@include media-breakpoint-up(xs) {
  h5, ul {
    font-size: 12px;
  }
}


