footer {
  width: 100%;
  height: 20vh;
  background-color: #000;
  
  section{
    float:left;
    width: 25%;
    text-align: center;
  }
  h3{
    margin-top:7px;
    padding : 0px 0px 4px;
    text-align: left;
    color: #fff;
    
  }
  p{
    color: #fff;
    text-align: left;
    padding: 2px;
    line-height: 0.8px;
  } 
  a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 2px;
    line-height: 15px;
    &:hover{
      color:#bbbcbf;
      }
  }
  @include media-breakpoint-down(sm) {
    h3{
      font-size: 0.9rem;
    }
    p{
      font-size: 0.7rem;
      margin-bottom: 10px
    }
    a{
      font-size: 0.7rem;
      line-height: 11px;
    }
  }
}
.footer-text{
  text-align: left;
  display: inline-block;
}

