body > div  {
  background-color: rgb(177, 173, 173);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  //background-image: url("../images/wheat.png"); *This has got to go*
  font-family: 'Lato', sans-serif;
}

main{
  flex: 1;
}