.movies-schedule-page {

  img{
    width: 70%;
    margin-left: 5%;
  }
  @media only screen and(max-width: 375px){
    img {
      display: none;
    }
  }
  @media only screen and(max-width: 668px){
    img {
      width: 50%;
    }
    h5 {
      font-size: 70%;
    }
    p {
      font-size: 70%;
    }
  }
  .red{
    background-color:#dc3545;
    font-size: 18px;
    display: inline-block;
  }
  @include media-breakpoint-only(xs) {
    .red{
      padding: 2px;
    }
    .card-body{
      padding: 10px;
    }
    .btn{
      padding: 1px;
    }
  }
  @include media-breakpoint-only(sm) {
      .card-body{
        padding: 10px;
      }
  }
}

  