.movies-schedule-page {
  .btn {
    padding-left: 12%;
    padding-right: 12%;
  }
  h5 {
    font-size: 1.35rem;
  }
  p {
    font-size: 1.15rem;
  }

  img{
    width: 92%;
    margin-left: 5%;
  }
  @media only screen and(max-width: 375px){
    img {
      display: none;
    }
  }
  @media only screen and(max-width: 568px){
    img {
      width: 50%;
    }
  }
  @media only screen and(max-width: 768px){
    img {
      width: 90%;
    }
    h5 {
      font-size: 19px;
    }
    p {
      font-size: 15px;
    }
  }
  // @media only screen and(min-width: 768px){
  //     .btn{
  //       padding: 3px;
  //       padding-left: 9%;
  //       padding-right: 9%;
  //     }
  //   }
    @media only screen and(min-width: 993px){
      img {
        width: 90%;
      }
      h5 {
        font-size: 2.05rem;
      }
      p {
        font-size: 2.05rem;
      }
    }
    @media only screen and(min-width: 1003px){
      img {
        width: 90%;
      }
      h5 {
        font-size: 2.15rem;
      }
      p {
        font-size: 2rem;
      }
    }
  .red{
    background-color:#dc3545;
    font-size: 18px;
    display: inline-block;
  }
  @include media-breakpoint-only(xs) {
    .red{
      padding: 2px;
    }
    .card-body{
      padding: 10px;
    }
    .btn{
      padding: 3px;
      padding-left: 13%;
      padding-right: 13%;
    }
  }
  @include media-breakpoint-only(sm) {
      .card-body{
        padding: 10px;
      }
  }
}

  