.startpage, .cardstartpage, .calendar, .carouselstarpage{
body >.startpage{
  width: 100%;
  height: auto;
  font-weight: 200;
}
.startpage.startpage-cards{
  background-image: url('../images/diehard-artposter.jpg');
  background-size: cover; 

}
}
.films-link, a:hover{
  color: white;
  text-decoration-line: none;
  font-size: 18px;
}

.shows-calendar{
  margin-bottom: 8px;
  background: linear-gradient(rgb(240, 176, 58) 40%,rgb(228, 125, 125));
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  //.time-table{    
  //}
}

.carouselstarpage.carousel{
   width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(15,15,15,0) 50%,#000);
    position: absolute;
    top: 0;
    left: 0;
}
