.startpage, .cardstartpage, .calendar, .carouselstarpage{
.startpage{
  width: 100%;
  height: auto;
  font-weight: 200;
  h1{
    color: white;
    text-decoration: underline;
    font-size: 40px; 
  
  }

}
}

.films-link{
  color: white;
  text-decoration-line: none;
  font-size: 20px;
}

.shows-calendar{
  background-image: url("../images/startlinglights.jpeg");
  background-repeat: no-repeat;
  background-size: cover; ;
  font-weight: 200;
  padding: 20px;
  h2{
font-family: 'Lato', sans-serif;
font-size: 30px;
text-decoration-style: solid;
}
}


