.StartPage{
html{
  max-width: 960px;
}
body{
  width: 100%;
  height: auto;
  font-weight: 200;
}
/* Movies card row/column starts */
.moviescard-wrapper{
  display: flex;
  flex-direction: row;
}
.card{
  background-color:black;
  position: relative;
  flex: 1;
  min-width: 280px;
  .card-text{
          font-size: 16px;
     }
  .CardTitle{
          word-wrap: inherit;
          font-size: 16px;
      }
 }
.img-thumbnail{
  padding: 0;
  border: 1px solid black;
  background-color: transparent;

}

//card buttons that links to visningar
a.btn{
 font-size: 15px;
 display: block;
  &:hover{
   transition: all 0.2s ease 0s;
}
}
//col-4 --> aside
.aside-bar, .col-4{
  border: 1px solid #dee2e6;
  padding-left: 0;
  padding-right: 0;
  background-color: black;

  ul{
      padding-inline-start: 10px;

  }
  h5{
      font-size: 15px;
  }

ul, .aside-text {
       list-style-type: none;
       color: #fff;
       justify-content: center;
       line-height: 1.5;
}
}
@include media-breakpoint-up(xs) {
h5, ul {
  font-size: 12px;
}
}

@include media-breakpoint-up(md){
   .img-musical{
      width: 229px;
      height: 265px;
    }
  }
}